experiments/Covid19/logs/saves/quantized_weights.pth
experiments/Covid19_float/*
experiments/Covid19_pact/*
pytorch_quantization/pytorch_quantization/build/*
pytorch_quantization/pytorch_quantization.egg-info/*
pytorch_quantization/__pycache__/*
experiments/__pycache__/*
experiments/Covid19/data/__pycache__/*
*.pyc
pytorch_quantization/__pycache__/__init__.cpython-310.pyc
.gitignore
